*{
    padding: 0px;
    margin: 0;
}

body{
    background-image: url(https://www.fda.gov/files/covid19-1600x900.jpg);
    background-size: cover;
    text-align: center;
}

form{
    background-color: white;
    margin: 2% 10%;
    padding: 50px;
    opacity: 0.8;
border-radius: 20px;
}

h1{
    font-size: 50px;
    margin-top: 20px;
    color: white;
}

label{
    font-size: 20px;
}

#button{
    background-color: crimson;
    padding: 8px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}